.paginated_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 30px;
}

.back_page,
.forward_page {
    position: inherit;
}



.back_page:active,
.forward_page:active {
   border: coral;
}


img {
    box-shadow: none;
    
}

.input {
    font-size: 1rem;
text-align: center;
width: calc(100% - 4rem);
max-width: 2.5rem ;
padding: 2px;
background-color: transparent;
border: solid 1px coral ;
border-radius: .5rem;
color: var(--white);
opacity: .8;
cursor: text;
}

.p {
    margin-top: 8px;
    font-size: 15px;
    
}


@media (max-width: 768px) {
    .paginated_container {
      flex-direction: column;
    }
    .back_page,
    .forward_page {
      margin: 10px 0;
    }
    .input {
      max-width: none;
      width: 30%;
      margin: 10px 0;
    }
  }