.container_nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  box-shadow: 0 0 20px 8px rgba(77, 12, 12, 0.65);

}

.container_nav:hover {
  background-color:rgba(74, 53, 46, 0.549);
  
}

.container_link {
  font-size: 1.5rem;
 
 
}

.container_link:hover {
  
  
}

.create_link {
  text-decoration: none;
  color: #fff;
  
}
.create_link:active,
.create_link:hover {
  color: coral;
}

.logo {
  width: 75px;
  height: 75px;
  border-radius: 5px;
  cursor: pointer;
}
.logo:active,
.logo:hover {
  color: #fff;
}
@media (max-width: 768px) {
  .container_nav {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
  }

  .container_link {
    font-size: 1.2rem;
  }
}